* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
}

.homeContainer {

    // general
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 1rem;
    }

    .logo {
        max-height: 35px;
        width: auto;
    }

    // components
    .navBar,
    .bannerContainer,
    .featureContainer {
        margin-bottom: 24px;
    }

    .navBar {
        width: 100%;
        height: 70px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px;
        padding-top: 50px;

        position: fixed;
        z-index: 0;

        .home,
        .logoContainer,
        .loginBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 120px;
        }

        .home {
            &:hover {
                cursor: default;
                color: white;
            }
        }

        .logoContainer {
            &>.logo:hover {
                filter: drop-shadow(0 0 0.75rem white);
                transform: scale(1.5);
            }
        }

        .loginBtn {
            color: rgba(255, 255, 255, 0.9);

            &:hover {
                color: rgba(255, 255, 255, 1);
                box-shadow: 0 5px 15px rgba(217, 219, 232, 0.4);
            }
        }
    }

    .bannerContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        .banner {
            width: 100%;
            height: auto;
            border-radius: 8px;
            top: 10px;
        }
    }

    .featureContainer {

        margin: 20px;

        .title {
            margin-bottom: 40px;
        }

        .feature {
            display: inline-block;
            width: 25%;
            padding: 16px;

            img {
                display: block;
                margin: 0 auto;
                border-radius: 50%;
                width: 150px;
                height: auto;
            }

            .feature-title {
                font-size: 0.7rem;
                padding-top: 4px;
            }

            .feature-description {
                font-size: 0.5rem;
                padding-top: 7px;
                text-align: justify;
            }
        }
    }

    .footerContainer {
        background-color: #ccc;

        * {
            .title {
                font-size: 1rem;
            }

            .subscribe-text,
            .column.right>* {
                font-size: 0.7rem;
            }
            
            font-size: 0.5rem;
        }

        .column {
            display: inline-block;
            padding: 20px;
            margin: 10px;

            &.left {
                .left-info {
                    display: flex;
                    flex-direction: column;

                    &>* {
                        padding: 4px 0;
                    }

                    margin-bottom: 20px;
                }

                .left-subscribe {
                    padding: 12px 0;

                    >* {
                        font-size: 0.7rem;
                    }
                }
            }

            &.right {
                position: absolute;
                right: 5%;

                >* {
                    display: block;
                    font-size: 0.7rem;
                }
            }


        }


    }
}